h1 {
    text-align: center;
    margin-top: 20px;
    color: #333;
    font-size: 2em;
    font-weight: bold;
}
body {
    font-family: 'Noto Sans Thai', sans-serif;
    background: linear-gradient(to right, #23b0ba,#266ab8,#1b25b3,#266ab8, #23b0ba);
    margin: 0;
    padding: 20px;
    color: #333;
}

form {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: auto;
}

/* Table styles for better alignment */
form table {
    width: 100%;
    border-collapse: collapse;
}

form td {
    padding: 10px;
    vertical-align: top;
}

form label {
    font-weight: bold;
}

input[type="text"],
input[type="number"],
input[type="date"],
input[type="file"],
textarea,
select {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 14px;
    transition: border-color 0.3s, box-shadow 0.3s;
}

input:focus,
textarea:focus,
select:focus {
    border-color: #007BFF;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    outline: none;
}

input[type="text"]:hover,
input[type="number"]:hover,
input[type="date"]:hover,
textarea:hover,
select:hover {
    background-color: #f0f8ff;
    border-color: #007BFF;
    transition: background-color 0.3s, border-color 0.3s;
}

input:focus,
textarea:focus,
select:focus {
    border-color: #007BFF;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    outline: none;
}

button {
    padding: 10px 20px;
    font-size: 14px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

button[type="submit"] {
    background-color: #28a745;
    color: #fff;
}

button[type="submit"]:hover {
    background-color: #016417;
    transform: scale(1.05);
}

button[type="reset"] {
    background-color: #dc3545;
    color: #fff;
}

button[type="reset"]:hover {
    background-color: #7d000d;
    transform: scale(1.05);
}

input[type="checkbox"] {
    margin-right: 10px;
}

@media (max-width: 768px) {
    form {
        padding: 15px;
    }

    form td {
        display: block;
        width: 100%;
    }

    form table {
        display: block;
    }

    button {
        width: 100%;
        margin-top: 10px;
    }
}